/* ========================================
Variable
======================================== */
$breakpoint-pc: 896px;
$breakpoint-sp: 895px;

/* ========================================
Foundation
======================================== */
:root {
  --main-color: #fff;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo",
    sans-serif;
  font-size: 1.4em;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* ========================================
Layout
======================================== */
.l-header {
  height: 100vh;
}
.l-article {
  margin: auto;
  padding: 80px 5%;
  max-width: 1200px;
}
.l-fashion {
  padding: 35px 5%;
  height: 520px;
  background: url(../images/fashion.jpg) no-repeat center/cover;
  @media screen and (min-width: $breakpoint-pc) {
    padding: 60px 5%;
  }
}
.l-catalog-antique {
  padding: 30px 5%;
  background-color: #f5f5f5;
}
.l-footer {
  &__main {
    background-color: #333;
  }
  &__main-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    padding: 30px 5%;
    max-width: 1200px;
  }
  @media screen and (min-width: $breakpoint-pc) {
    &__main-inner {
      flex-direction: row;
    }
  }
}
.l-copyright {
  padding: 28px;
}
/* ========================================
Object/Component
======================================== */
.c-logo {
  width: 120px;
  height: 40px;
  &__img {
    width: 100%;
  }
}
.c-section-title {
  font-size: 2.4rem;
  text-align: center;
}
.c-section-text {
  &__wrapper {
    text-align: center;
  }
  &__inner {
    display: inline-block;
    margin: auto;
  }
}
.c-more-btn {
  &__wrapper {
    text-align: center;
  }
  &__link {
    display: inline-block;
    padding: 13px 36px;
    border: 1px solid #2a2a2a;
    font-size: 1.2rem;
  }
}
.c-copyright {
  display: block;
  text-align: center;
}
/* ========================================
Object/Project
======================================== */
.p-header {
  position: relative;
  background: url(../images/mainvisual.jpg) no-repeat center/cover;
  .c-logo {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
.p-archive-new {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    position: relative;
    padding-top: 100%;
    width: 100%;
    background: url(../images/magazine-archive.jpg) no-repeat center/cover;
    &:first-child {
      margin-bottom: 30px;
    }
  }
  &__item-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 33px;
    width: 290px;
    background-color: rgba($color: #707070, $alpha: 0.5);
    text-align: center;
  }
  &__item-title {
    font-size: 2rem;
  }
  &__item-text {
    font-size: 1.4rem;
  }
  @media screen and (min-width: $breakpoint-pc) {
    &__wrapper {
      flex-direction: row;
    }
    &__item {
      padding-top: 47.7%;
      width: 47.7%;
      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}
.p-catalog-antique {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $breakpoint-pc) {
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 60px;
    }
  }
  &__item-img {
    @media screen and (min-width: $breakpoint-pc) {
      width: 46.8%;
    }
  }
  &__item-text-wrapper {
    padding-top: 60px;
    @media screen and (min-width: $breakpoint-pc) {
      width: 46.8%;
      padding-top: 0;
    }
    &:first-child {
      margin-bottom: 30px;
    }
  }
  &__item-text {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.p-footer {
  .c-logo {
    margin: 0 auto 30px;
  }
  @media screen and (min-width: $breakpoint-pc) {
    .c-logo {
      align-self: center;
      margin: 0;
    }
  }
}
.p-footer-navi {
  color: #fff;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  &__item {
    font-size: 1.2rem;
  }
}
/* ========================================
Object/Utility
======================================== */
.u-hidden-sp {
  @media screen and (max-width: $breakpoint-sp) {
    display: none;
  }
}
.u-margin-auto {
  margin: auto;
}
.u-margin {
  &-bottom {
    &-small {
      margin-bottom: 18px;
    }
    &-midium {
      margin-bottom: 40px;
    }
    &-large {
      margin-bottom: 50px;
    }
  }
}
